$card-width: 200px;
$border-radius: 8px;
$pading-right-nav: 50px;
$logo-hight: 40px;
$logo-width: 40px;
$font-family: 'Roboto', sans-serif;
$color-borderPage: #f3f3f3;
$color-background: #fff;
$color-text: #060b35;
$color-black: #000;
$color-secondary: #616070;
$color-primary: #00acdc;
$color-hover: #fff;
$color-star: gold;
